.ajustes-button {
  -fx-background-image: url('../icons/principal/ajustes.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.clientes-button {
  -fx-background-image: url('../icons/principal/clientes.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.derramas-button {
  -fx-background-image: url('../icons/principal/derramas.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.empleados-button {
  -fx-background-image: url('../icons/principal/empleado.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.instalaciones-button {
  -fx-background-image: url('../icons/principal/instalaciones.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.correos-button {
  -fx-background-image: url('../icons/principal/enviar-correo.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.estadisticas-button {
  -fx-background-image: url('../icons/principal/estadisticas.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.externo-button {
  -fx-background-image: url('../icons/principal/externos.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}